<html>
    <head>
        <title>Graph | Index</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link type="text/css" rel="stylesheet" href="/css/style.css" />
    </head>
    <body class="grey lighten-3">
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="js/materialize.min.js"></script>
        <header>
            <nav class="light-blue">
                <div class="container">
                    <div class="nav-wrapper">
                        <span class="brand-logo left" id="logo">Project Hangout</span>
                    </div>
                </div>
            </nav>
        </header>
        <main>
            <div class="container">
                <div class="row">
                    <div class="col s12">
                        <h2 class="center" id="title">Project Hangout</h2>
                    </div>
                    <div class="col s12">
                        <h5 class="center grey-text text-darken-3" id="auth">Something big is coming</h5>
                    </div>
                    <div class="col s12 m6 offset-m3">
                        <div class="card">
                            <div class="card-content center">
                                <div class="container">
                                <div class="row">
                                    <div class="col s12">
                                        <p class="flow-text">Welcome</p>
                                    </div>
                                    <form class="col s12" action="/" method="POST">
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input name="email_input" type="text">
                                                <label for="email_input">Email</label>
                                            </div>
                                            <div class="input-field col s12">
                                                <input name="password_input" type="password">
                                                <label for="password_input">Password</label>
                                            </div>
                                            <div class="col s12">
                                                <button class="btn waves-effect waves-light light-blue" type="submit" name="action">login</button>
                                            </div>
                                            <div class="col s12" style="margin-top: 20px;">
                                                <p class="grey-text center">No account yet?
                                                    <a href="/signup" class="grey-text text-darken-2" id="signupBut">Signup</a>
                                                </p>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <%  if (message.length > 0) { %>
                <script>
                    Materialize.toast('<%= message %>', 4000);
                </script>
                <% } %>
            </div>
        </main>
        <footer>

        </footer>
    </body>
</html>